argparse
texttable
sslyze
tldextract
lxml
pillow
colorama
scapy
pexpect
idna
bs4
six
tld
shodan
requests
python-nmap
google
emailprotectionslib
builtwith
mechanize
mysql
mysql-connector-python-rf
ptyprocess
dnslib
PyQt5
photon

# Optionals (needed for additional features)
# ------------------------------------------
# post-exploitation & control
# https://github.com/nil0x42/phpsploit
