include LICENSE
include COPYRIGHT
include MANIFEST.in
include README.rst
include *.py
recursive-include examples *.py
recursive-include examples/forms *.dat *.txt *.html *.cgi *.py
recursive-include test/test_form_data *.html
recursive-include test *.py *.doctest *.special_doctest
recursive-include test-tools *.py *.cgi
