
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 90</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 91</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 92</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 93</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 94</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 95</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 96</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 97</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 98</message>
    </event>
    <event name="root" level="20" filename="log_test9.py" lineno="66">
    <message>Info index = 99</message>
    </event>